<div id="footer">
  <ul class="footer-links">
    <li><a href="http://www.google.com/support/youtube/bin/static.py?p=watch&amp;page=start.cs&amp;hl=en_US" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Help&#39;);">Help</a></li>
    <li><a href="https://web.archive.org/t/about_youtube" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;About&#39;);">About</a></li>
    <li><a href="https://web.archive.org/t/press" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Press&#39;);">Press &amp; Blogs</a></li>
    <li><a href="https://web.archive.org/t/copyright_center" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Copyright&#39;);">Copyright</a></li>
    <li><a href="https://web.archive.org/creators" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Creators&#39;);">Creators &amp; Partners</a></li>
    <li><a href="https://web.archive.org/t/advertising_overview" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Advertising&#39;);">Advertising</a></li>
    <li><a href="https://web.archive.org/dev">Developers</a></li>
    <li><a href="http://www.google.com/support/youtube/bin/request.py?contact_type=abuse&amp;hl=en_US" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Safety&#39;);">Safety</a></li>
    <li><a href="https://web.archive.org/t/privacy_at_youtube" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Privacy&#39;);">Privacy</a></li>
    <li><a href="https://web.archive.org/t/terms" onmousedown="yt.analytics.trackEvent(&#39;Footer&#39;, &#39;link&#39;, &#39;Terms&#39;);">Terms</a></li>
  </ul>

  <div class="footer-info">
    <ul class="pickers">
      <li><a href="http://www.google.com/tools/feedback/intl/en/error.html" onclick="return yt.www.feedback.start(yt.getConfig(&#39;FEEDBACK_LOCALE_LANGUAGE&#39;), yt.getConfig(&#39;FEEDBACK_LOCALE_EXTRAS&#39;));" id="reportbug">Report a bug</a></li>

      <li><a href="https://web.archive.org/testtube">Try something new!</a></li>
    </ul>
  </div>
  <ul class="pickers">
    <li>
      Language:
      <a href="https://web.archive.org/web/20110918102336id_/http://www.youtube.com/watch?v=zhJcwrsUSdc&amp;gl=US&amp;hl=en&amp;amp;has_verified=1#" onclick="yt.www.masthead.loadPicker(&#39;language-picker&#39;, &#39;&#39;); return false;">English</a>
    </li>
    <li>
      Location:
      <a href="https://web.archive.org/web/20110918102336id_/http://www.youtube.com/watch?v=zhJcwrsUSdc&amp;gl=US&amp;hl=en&amp;amp;has_verified=1#" onclick="yt.www.masthead.loadPicker(&#39;region-picker&#39;, &#39;&#39;); return false;">Worldwide</a>
    </li>
    <li>
      Safety mode:
      <a href="https://web.archive.org/web/20110918102336id_/http://www.youtube.com/watch?v=zhJcwrsUSdc&amp;gl=US&amp;hl=en&amp;amp;has_verified=1#" onclick="yt.www.masthead.loadPicker(&#39;safetymode-picker&#39;, &#39;&#39;); return false;"> Off </a>
    </li>
  </ul>
  <div id="picker-container"></div>
  <div id="picker-loading" style="display: none">Loading...</div>
</div>
