<div class="inner-box" id="user_hubber_links">
  <div style="zoom: 1">
    <div class="box-title title-text-color">My Recommendations</div>
    <div class="box-editor">
      <div style="float: right"></div>
    </div>
    <div class="cb"></div>
  </div>

  <div id="user_hubber_links-messages" class="hid"></div>

  <div id="user_hubber_links-body">
    <table border="0" cellspacing="0" cellpadding="0" width="100%">
      <tbody>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/jumbomuffin27">
                  <img id="" src="/1(4).jpg" alt="jumbomuffin27" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/jumbomuffin27" style="font-size: 12px"><b>Jumbo's Minecraft Videos</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">I do regular weekly posts of tours for popular servers and a lot of fun lets play video...</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 13</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 123,051</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 10,599</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/AvidyaZen">
                  <img id="" src="/1(5).jpg" alt="AvidyaZen" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/AvidyaZen" style="font-size: 12px"><b>AvidyaZen Gaming</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">Video Game Let's Play, Video Game Tutorials, and anything FUN!</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 167</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 510,965</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 16,505</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/MinecraftChick">
                  <img id="" src="/1(6).jpg" alt="MinecraftChick" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/MinecraftChick" style="font-size: 12px"><b>MinecraftChick</b></a>
            </div>
            <div style="margin-right: 7px"></div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 119</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 940,916</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 36,190</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/minecraftwb">
                  <img id="" src="/1(7).jpg" alt="minecraftwb" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/minecraftwb" style="font-size: 12px"><b>Welcome to the Family</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">Minecraft Adventures with Luclin</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 297</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 1,916,903</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 65,331</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/Wolv21">
                  <img id="" src="/1(8).jpg" alt="Wolv21" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/Wolv21" style="font-size: 12px"><b>Game Commentary and Other Fun</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">Let's Play Minecraft Videos: Fun in Minecraft</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 599</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 658,530</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 36,703</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/TheGrimGary">
                  <img id="" src="/1(9).jpg" alt="TheGrimGary" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/TheGrimGary" style="font-size: 12px"><b>Drawing/Gaming with GrimGary</b></a>
            </div>
            <div style="margin-right: 7px"></div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 83</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 12,224</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 2,604</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/davidr64yt">
                  <img id="" src="/1(10).jpg" alt="davidr64yt" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/davidr64yt" style="font-size: 12px"><b>davidr64yt</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">A variety gaming channel with a focus.</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 378</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 11,765,557</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 178,401</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/2seekingsatori">
                  <img id="" src="/1(11).jpg" alt="2seekingsatori" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/2seekingsatori" style="font-size: 12px"><b>Seeking Satori</b></a>
            </div>
            <div style="margin-right: 7px"></div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 33</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 242,852</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 11,670</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/ChimneySwift11">
                  <img id="" src="/1(12).jpg" alt="ChimneySwift11" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/ChimneySwift11" style="font-size: 12px"><b>Home of the Swifters</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">ChimneySwift's Minecraft building tutorials &amp; other gameplay!</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 496</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 726,775</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 39,929</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/minecrapdotcom">
                  <img id="" src="/1(13).jpg" alt="minecrapdotcom" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/minecrapdotcom" style="font-size: 12px"><b>Bit's Blocks</b></a>
            </div>
            <div style="margin-right: 7px"></div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 28</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 51,721</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 6,324</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/welshpixie">
                  <img id="" src="/1(14).jpg" alt="welshpixie" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/welshpixie" style="font-size: 12px"><b>Pixie's Pad</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">Girl gamer playing Minecraft, Spiral Knights and others - tutorials, Let's Plays, machi...</div>
          </td>
          <td valign="top" width="30%">
            <div><span class="smallText" width="100%">Videos:</span> 179</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 83,998</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 9,520</div>
          </td>
        </tr>
        <tr class="commentsTableFull">
          <td valign="top" width="60" style="padding-bottom: 15px; border-bottom: hidden">
            <div class="user-thumb-medium">
              <div>
                <a href="https://web.archive.org/user/Djrodw">
                  <img id="" src="/1(15).jpg" alt="Djrodw" />
                </a>
              </div>
            </div>
          </td>
          <td valign="top" style="padding-bottom: 15px; border-bottom: hidden">
            <div style="margin-bottom: 5px">
              <a href="https://web.archive.org/user/Djrodw" style="font-size: 12px"><b>Dj's Adventures</b></a>
            </div>
            <div dir="ltr" style="margin-right: 7px">Friendly Commentary, Minecraft, Dwarf Fortress and more to come!...</div>
          </td>
          <td valign="top" width="30%" style="border-bottom: hidden">
            <div><span class="smallText" width="100%">Videos:</span> 60</div>
            <div><span class="smallText" width="100%">Channel Views:</span> 66,571</div>
            <div><span class="smallText" width="100%">Subscribers:</span> 4,063</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="clear"></div>
</div>
