<div class="inner-box" id="user_recent_activity">
	<div style="zoom: 1">
	  <div class="box-title title-text-color">Recent Activity &nbsp;</div>
	  <div class="box-editor">
		<div style="float: right"></div>
	  </div>
	  <div class="cb"></div>
	</div>

	<div id="user_recent_activity-messages" class="hid"></div>

	<div id="user_recent_activity-body">
	  <div id="feed_success" style="display: none">Successfully removed.</div>

	  <div id="feed_success_custom" style="display: none"></div>

	  <div id="feed_error" style="display: none">Sorry, an error occurred.</div>

	  <div id="feed_error_custom" style="display: none"></div>

	  <div id="feed_loading" style="display: none; text-align: center">
		<img src="/icn_loading_animated.gif" />
	  </div>

	  <div id="feed_table">
		<div class="text-field recent-activity-content outer-box-bg-as-border" style="_width: 610px">
		  <table border="0" cellspacing="0" cellpadding="0" width="97%">
			<tbody>
			  <tr id="feed_item_IXZtIqpUprk" valign="top">
				<td class="feed_icon">
				  <img class="master-sprite icon-LIK" src="/pixel.gif" />
				</td>
				<td>
				  <div class="feed_title">
					paulsoaresjr liked a video
					<span class="timestamp">(17 hours ago)</span>
				  </div>
				  <div class="centerpiece">
					<div style="float: left; margin-right: 8px">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow"><img style="width: 60px; height: 45px; border: 1px solid" src="/default(4).jpg" class="link-as-border-color" /></a>
					</div>
					<div dir="ltr">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow">Minecraft Aether Mod Tour - Part 8 (Dungeon Loot)</a>
					</div>
					<div dir="ltr">
					  <span id="feed_item_IXZtIqpUprk_collapsed">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========... &nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_IXZtIqpUprk_collapsed&#39;); _showdiv(&#39;feed_item_IXZtIqpUprk_expanded&#39;); return false;" style="font-size: 10px" class="hLink">more</a>
					  </span>
					  <span id="feed_item_IXZtIqpUprk_expanded" style="display: none">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========================================<wbr />=======<br /><br />BLOG: <a href="http://paulsoaresjr.com/" target="_blank" title="http://paulsoaresjr.com" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://paulsoaresjr.com</a><br />TWITTER: <a href="http://twitter.com/paulsoaresjr" target="_blank" title="http://twitter.com/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://twitter.com/paulsoaresjr</a><br />GOOGLE+: <a href="http://gplus.to/paulsoaresjr" target="_blank" title="http://gplus.to/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://gplus.to/paulsoaresjr</a><br />YOUTUBE: <a href="http://www.youtube.com/user/paulsoaresjr" target="_blank" title="http://www.youtube.com/user/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/user/paulsoaresjr</a><br />FAQ: <a href="http://www.youtube.com/watch?v=bp9NTrLOdCM" target="_blank" title="http://www.youtube.com/watch?v=bp9NTrLOdCM" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/watch?v=bp9NTr...</a>
						&nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_IXZtIqpUprk_expanded&#39;); _showdiv(&#39;feed_item_IXZtIqpUprk_collapsed&#39;); return false;" style="font-size: 10px" class="hLink">less</a>
					  </span>
					</div>
				  </div>
				</td>
				<td class="feed_delete">&nbsp;</td>
			  </tr>

			  <tr id="feed_divider_qTLHE9rUm5M">
				<td colspan="3" class="outer-box-bg-as-border divider">&nbsp;</td>
			  </tr>
			  <tr id="feed_item_qTLHE9rUm5M" valign="top">
				<td class="feed_icon">
				  <img class="master-sprite icon-BUL" src="/pixel.gif" />
				</td>
				<td>
				  <div class="feed_title">
					<div dir="ltr">
					  <span dir="ltr">paulsoaresjr</span>
					  <span dir="ltr"></span>
					  <span class="bulletin_message">Hey all! Back to the Aether! Here's part 8 of my Aether tour where I try out some bronze dungeon loot!</span>
					</div>
					<span class="timestamp">(17 hours ago)</span>
				  </div>
				  <div class="centerpiece">
					<div style="float: left; margin-right: 8px">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw&amp;feature=bulletin" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow"><img style="width: 60px; height: 45px; border: 1px solid" src="/default(4).jpg" class="link-as-border-color" /></a>
					</div>
					<div dir="ltr">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw&amp;feature=bulletin" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow">Minecraft Aether Mod Tour - Part 8 (Dungeon Loot)</a>
					</div>
					<div dir="ltr">
					  <span id="feed_item_qTLHE9rUm5M_collapsed">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========... &nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_qTLHE9rUm5M_collapsed&#39;); _showdiv(&#39;feed_item_qTLHE9rUm5M_expanded&#39;); return false;" style="font-size: 10px" class="hLink">more</a>
					  </span>
					  <span id="feed_item_qTLHE9rUm5M_expanded" style="display: none">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========================================<wbr />=======<br /><br />BLOG: <a href="http://paulsoaresjr.com/" target="_blank" title="http://paulsoaresjr.com" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://paulsoaresjr.com</a><br />TWITTER: <a href="http://twitter.com/paulsoaresjr" target="_blank" title="http://twitter.com/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://twitter.com/paulsoaresjr</a><br />GOOGLE+: <a href="http://gplus.to/paulsoaresjr" target="_blank" title="http://gplus.to/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://gplus.to/paulsoaresjr</a><br />YOUTUBE: <a href="http://www.youtube.com/user/paulsoaresjr" target="_blank" title="http://www.youtube.com/user/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/user/paulsoaresjr</a><br />FAQ: <a href="http://www.youtube.com/watch?v=bp9NTrLOdCM" target="_blank" title="http://www.youtube.com/watch?v=bp9NTrLOdCM" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/watch?v=bp9NTr...</a>
						&nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_qTLHE9rUm5M_expanded&#39;); _showdiv(&#39;feed_item_qTLHE9rUm5M_collapsed&#39;); return false;" style="font-size: 10px" class="hLink">less</a>
					  </span>
					</div>
				  </div>
				</td>
				<td class="feed_delete">&nbsp;</td>
			  </tr>

			  <tr id="feed_divider_lmOY8NAd6U0">
				<td colspan="3" class="outer-box-bg-as-border divider">&nbsp;</td>
			  </tr>
			  <tr id="feed_item_lmOY8NAd6U0" valign="top">
				<td class="feed_icon">
				  <img class="master-sprite icon-A" src="/pixel.gif" />
				</td>
				<td>
				  <div class="feed_title">
					<span class="feed-item-user-name">paulsoaresjr</span> added a new video to <a href="https://web.archive.org/playlist?list=PLAE541BB8C2501C4B">Minecraft Mods</a>
					<span class="timestamp">(17 hours ago)</span>
				  </div>
				  <div class="centerpiece">
					<div style="float: left; margin-right: 8px">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow"><img style="width: 60px; height: 45px; border: 1px solid" src="/default(4).jpg" class="link-as-border-color" /></a>
					</div>
					<div dir="ltr">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow">Minecraft Aether Mod Tour - Part 8 (Dungeon Loot)</a>
					</div>
					<div dir="ltr">
					  <span id="feed_item_lmOY8NAd6U0_collapsed">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========... &nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_lmOY8NAd6U0_collapsed&#39;); _showdiv(&#39;feed_item_lmOY8NAd6U0_expanded&#39;); return false;" style="font-size: 10px" class="hLink">more</a>
					  </span>
					  <span id="feed_item_lmOY8NAd6U0_expanded" style="display: none">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========================================<wbr />=======<br /><br />BLOG: <a href="http://paulsoaresjr.com/" target="_blank" title="http://paulsoaresjr.com" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://paulsoaresjr.com</a><br />TWITTER: <a href="http://twitter.com/paulsoaresjr" target="_blank" title="http://twitter.com/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://twitter.com/paulsoaresjr</a><br />GOOGLE+: <a href="http://gplus.to/paulsoaresjr" target="_blank" title="http://gplus.to/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://gplus.to/paulsoaresjr</a><br />YOUTUBE: <a href="http://www.youtube.com/user/paulsoaresjr" target="_blank" title="http://www.youtube.com/user/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/user/paulsoaresjr</a><br />FAQ: <a href="http://www.youtube.com/watch?v=bp9NTrLOdCM" target="_blank" title="http://www.youtube.com/watch?v=bp9NTrLOdCM" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/watch?v=bp9NTr...</a>
						&nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_lmOY8NAd6U0_expanded&#39;); _showdiv(&#39;feed_item_lmOY8NAd6U0_collapsed&#39;); return false;" style="font-size: 10px" class="hLink">less</a>
					  </span>
					</div>
				  </div>
				</td>
				<td class="feed_delete">&nbsp;</td>
			  </tr>

			  <tr id="feed_divider_8Y3VEv7RXRc">
				<td colspan="3" class="outer-box-bg-as-border divider">&nbsp;</td>
			  </tr>
			  <tr id="feed_item_8Y3VEv7RXRc" valign="top">
				<td class="feed_icon">
				  <img class="master-sprite icon-UPP" src="/pixel.gif" />
				</td>
				<td>
				  <div class="feed_title">
					paulsoaresjr uploaded a new video
					<span class="timestamp">(17 hours ago)</span>
				  </div>
				  <div class="centerpiece">
					<div style="float: left; margin-right: 8px">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow"><img style="width: 60px; height: 45px; border: 1px solid" src="/default(4).jpg" class="link-as-border-color" /></a>
					</div>
					<div dir="ltr">
					  <a href="https://web.archive.org/watch?v=EyE7MgjV5dw" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow">Minecraft Aether Mod Tour - Part 8 (Dungeon Loot)</a>
					</div>
					<div dir="ltr">
					  <span id="feed_item_8Y3VEv7RXRc_collapsed">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========... &nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_8Y3VEv7RXRc_collapsed&#39;); _showdiv(&#39;feed_item_8Y3VEv7RXRc_expanded&#39;); return false;" style="font-size: 10px" class="hLink">more</a>
					  </span>
					  <span id="feed_item_8Y3VEv7RXRc_expanded" style="display: none">
						My magical mystery tour of the Aether Mod for Minecraft!<br /><br />Get the Aether mod here:<br /><a href="http://bit.ly/qD3rtp" target="_blank" title="http://bit.ly/qD3rtp" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://bit.ly/qD3rtp</a><br /><br />Get Minecraft here:<br /><a href="http://minecraft.net/" target="_blank" title="http://minecraft.net" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://minecraft.net</a><br /><br />========================================<wbr />=======<br /><br />BLOG: <a href="http://paulsoaresjr.com/" target="_blank" title="http://paulsoaresjr.com" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://paulsoaresjr.com</a><br />TWITTER: <a href="http://twitter.com/paulsoaresjr" target="_blank" title="http://twitter.com/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://twitter.com/paulsoaresjr</a><br />GOOGLE+: <a href="http://gplus.to/paulsoaresjr" target="_blank" title="http://gplus.to/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://gplus.to/paulsoaresjr</a><br />YOUTUBE: <a href="http://www.youtube.com/user/paulsoaresjr" target="_blank" title="http://www.youtube.com/user/paulsoaresjr" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/user/paulsoaresjr</a><br />FAQ: <a href="http://www.youtube.com/watch?v=bp9NTrLOdCM" target="_blank" title="http://www.youtube.com/watch?v=bp9NTrLOdCM" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.youtube.com/watch?v=bp9NTr...</a>
						&nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_8Y3VEv7RXRc_expanded&#39;); _showdiv(&#39;feed_item_8Y3VEv7RXRc_collapsed&#39;); return false;" style="font-size: 10px" class="hLink">less</a>
					  </span>
					</div>
				  </div>
				</td>
				<td class="feed_delete">&nbsp;</td>
			  </tr>

			  <tr id="feed_divider_9jfeay796CE">
				<td colspan="3" class="outer-box-bg-as-border divider">&nbsp;</td>
			  </tr>
			  <tr id="feed_item_9jfeay796CE" valign="top">
				<td class="feed_icon">
				  <img class="master-sprite icon-LIK" src="/pixel.gif" />
				</td>
				<td>
				  <div class="feed_title">
					paulsoaresjr liked a video
					<span class="timestamp">(1 day ago)</span>
				  </div>
				  <div class="centerpiece">
					<div style="float: left; margin-right: 8px">
					  <a href="https://web.archive.org/watch?v=B5dqPU-vdqY" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow"><img style="width: 60px; height: 45px; border: 1px solid" src="/default(56).jpg" class="link-as-border-color" /></a>
					</div>
					<div dir="ltr">
					  <a href="https://web.archive.org/watch?v=B5dqPU-vdqY" onmousedown="yt.analytics.urchinTracker(&#39;/Events/Channels/RecentActivity/Video&#39;);" rel="nofollow">(Evil)Minecraft - Why you don't want to punch chickens.</a>
					</div>
					<div dir="ltr">
					  <span id="feed_item_9jfeay796CE_collapsed">
						Just going back to my roots of utter random videos, a bit. ;)<br /><br />Mod:<br /><a href="http://www.minecraftforum.net/topic/516745-173-evilminecraft-preview-mod-v02b-witchcraft-update/" target="_blank" title="http://www.minecraftforum.net/topic/516745-173-evilminecraft-preview-mod-v02b-witchcraft-update/" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.minecraftforum.net/topic/5...</a><br /><br />Follow me on Twitter!<br /><a href="http://twitter.com/Micleee" target="_blank" title="http://twitter.com/Micleee" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://twitter.com/Mi...</a>
						&nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_9jfeay796CE_collapsed&#39;); _showdiv(&#39;feed_item_9jfeay796CE_expanded&#39;); return false;" style="font-size: 10px" class="hLink">more</a>
					  </span>
					  <span id="feed_item_9jfeay796CE_expanded" style="display: none">
						Just going back to my roots of utter random videos, a bit. ;)<br /><br />Mod:<br /><a href="http://www.minecraftforum.net/topic/516745-173-evilminecraft-preview-mod-v02b-witchcraft-update/" target="_blank" title="http://www.minecraftforum.net/topic/516745-173-evilminecraft-preview-mod-v02b-witchcraft-update/" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://www.minecraftforum.net/topic/5...</a><br /><br />Follow me on Twitter!<br /><a href="http://twitter.com/Micleee" target="_blank" title="http://twitter.com/Micleee" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://twitter.com/Micleee</a><br /><br />Subscribe!<br /><a href="http://youtube.com/MicleeWoM" target="_blank" title="http://youtube.com/MicleeWoM" rel="nofollow" dir="ltr" class="yt-uix-redirect-link">http://youtube.com/MicleeWoM</a>
						&nbsp;
						<a href="https://web.archive.org/web/20110818152921id_/http://www.youtube.com/user/paulsoaresjr#" onclick="_hidediv(&#39;feed_item_9jfeay796CE_expanded&#39;); _showdiv(&#39;feed_item_9jfeay796CE_collapsed&#39;); return false;" style="font-size: 10px" class="hLink">less</a>
					  </span>
					</div>
				  </div>
				</td>
				<td class="feed_delete">&nbsp;</td>
			  </tr>
			</tbody>
		  </table>
		</div>
	  </div>
	</div>
	<div class="clear"></div>
  </div>